/* COGS3 studyBuddy specific styles go here. */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* COGS3 studyBuddy specific styles go here. */

* {
    font-family: "Inter" !important;
    color: rgb(220, 242, 255);
    
}



html {
    scroll-behavior: smooth;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: rgb(255, 208, 0);
}

.section-titles-2 {
    margin-bottom: -1rem;
    
    text-align: left;
    padding-left: 4%;
    margin-left: 4rem;
}

.navy {
    color:rgb(22, 40, 81);
    padding-top: 4%;
}

.center-nav {
    align-content: center;
    z-index: 99999;
}

.headshot {
    border-radius: 50%;
    width: 20rem;
    animation: 3s appear-in forwards;
    padding-bottom: 10%;
    padding-top: 3%;
}



.name {
    animation: 0.9s slide-in forwards;
}

.container-fluid {
    padding: 3% 5%;
    text-align: center;
    align-items: center;
    background-color: #162851;
}


h1 {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.5;
    color: rgb(220, 242, 255);
    align-content: center;
    
}

h2 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.5;
    color: rgb(220, 242, 255);
    align-content: center;
}

h3 {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.5;

}

p {
    color: #8f8f8f;
}

.haoting-1 {
    width: 90%;
    border-radius: 30px;
    border: 5px solid;
}

.triton-baja {
    width: 90%;
    border-radius: 30px;
    border: 5px solid #162851;
}

.project-subheading {
    font-family: "Inter";
    font-weight: 500;
    text-align: center;
    justify-self: center;
    text-decoration: underline;
}

.title-image {
    width: 30%;
    transform: rotate(15deg);
    position: absolute;
}

.section-titles {
    text-align: left;
    padding-left: 4%;
    margin-left: 4rem;
}

.body-text {
    text-align: center;
    margin-left: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: rgb(172, 195, 208);
}
.body-text-2 {
    text-align: center;
    margin-left: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color:rgb(22, 40, 81);
}


#about-me {
    background-color: rgb(22, 40, 81);
}

#resume {
    padding-top: 4%;
    background-color: rgb(22, 40, 81);
}

#projects {
    font-family: 'Inter', serif;
    color:rgb(22, 40, 81) !important;
    background-color: rgb(220, 242, 255);
}

.container-fluid-2 {
    background-color: rgb(220, 242, 255);
}

.feature-box {
    text-align: center;
    padding: 5%;
}


.icon {
    color: #ff0000;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #a3d6ff;
}

#involvements {
    text-align: center;
    background-color: #9a8000;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 10px;
}

#press {
    background-color: #9a8000;
    text-align: center;
}

.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}

.carousel-item {
    font-family: 'Quicksand', serif;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-header {
    color: #000000;
}

.pricing-column {
    padding: 5% 3%;
}

.card-price {
    color: #000000;
}

@keyframes appear-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 5rem;
    }
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}
